<section id="clientForm" class="settingsForm">
    <h2>Client Password</h2>
	<p>If you want to use a local reader to access your feeds (like a smartphone app), set a password for API access here.</p>
    <form method="POST" action="<%= url '/setPassword' %>">
    <input type="password" name="clientPassword"></input>
    <button type="submit" id="clientSubmit">Set Password</button>
    </form>
</section>