<%# -*- encoding : utf-8 -*- %>
 <li class="feedlink<%= feed.id.to_i == current_feed_id.to_i ? ' current' : ''%>" id="feed_<%= feed.id %>"><a href="<%= url '/' + feed.id.to_s %>"><%= truncate(feed.name, 35, "...") %></a></li>