<%# -*- encoding : utf-8 -*- %>
<aside id="msgImport" class="message">The import is now working in the background. This might take a while.</aside>
<aside id="msgUnsubscribe" class="message">The feeds are being unsubscribed in the background. This might take a while.</aside>
<main id="index">
    <img src="<%= url '/mstile-144x144.png' %>" id="logo">
    <h1>Welcome!</h1>
</main>
