<%# -*- encoding : utf-8 -*- %>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>First Use Installer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="<%= url '/main.css' %>">
    </head>

    <body>
        <main id="installer">
            <h1>Installation</h1>
            <% if ! authorized? %>
                <h2>Step 1/2: Login</h2>
                <div id="login">
                    <img src="<%= url '/mstile-144x144.png' %>" id="logo">
                    <div>
                        <h1>Login</h1>
                        <%= render_login_button %>
                    </div>
                </div>
                <p>The mail address used will be marked as being admin.</p>
            <% else %>
                <h2>Step 2/2: Feed Retrieval</h2>
                <p>Please create a free <a href="https://superfeedr.com/subscriber">Superfeedr-account</a> and create an access token with subscribe and unsubscribe rights:
                <form method="POST" action="<%= url '/addSuperfeedr' %>">
                    <ul id="superfeedr">
                        <li><label>superfeedr name: <input name="name" type="text" required placeholder="user"></input></label></li>
                        <li><label>superfeedr token: <input name="password" type="text" required placeholder="2e4f8aadsdasd45ad4o41"></input></label></li>
                    </ul>
                    <button type="submit">OK</button>
                </form>
            <% end %>
        </div>
    </body>
</html>