<section id="superfeedrForm" class="settingsForm">
    <h2>Superfeedr</h2>
    <form id="superfeedrSettings" action="<%= url 'addSuperfeedr' %>" method="POST">
        <label><span>Host</span> <input type="text" name="host" value="<%= getOption("host") %>" /></label>
        <label><span>Name</span> <input type="text" name="name" value="<%= getOption("superfeedrName") %>" /></label>
        <label><span>Token</span> <input type="text" name="password" autocomplete="off" value="<%= getOption("superfeedrPassword") %>" /></label>
        <button class="button" type="submit">OK</button>
    </form>
</section>