/* generics */

html {
    font-family: ubuntu, helvetica, arial, sans-serif;
    font-weight: 400;
    background-color: #F7F7F7;
    color: #333;
}

body {
    margin: 0;
}

img {
    max-width: 700px;
    height: auto;
}

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

a {
    color: #3B5998;
    text-decoration: none;
}

a:visited {
    color: #8496bc;
}

input, textarea, button {
    font-family: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
}

textarea {
    /* textarea-borders else might differ from input-boxes in chrome */
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

/* specifics */

#login {
    max-width: 20em;
    margin: auto;
    margin-top: 20%;
}

#login #logo {
    max-height: 5em;
    float: left;
    position: relative;
    right: 0.5em;
}

#login h1 {
    font-weight: 400;
}

#feeds {
    display: inline-block;
    position: fixed;
    vertical-align: top;
    max-width: 20%;
    min-width: 23em;
    height: 100%;
    overflow: auto;
    box-shadow: 3px 3px 5px 0px #ccc;
}

#feedList {
    vertical-align: top;
    margin-top: 0em;
    margin-bottom: 0;
    margin-left: 1.6em;
    padding-left: 0;
}

#feedList a {
    color: #3B5998;
}

#feedList li {
    list-style-type: none;
    margin-bottom: 0.5em;
}

#feedList li.current a {
    color: #8496bc;
}

#entries {
    display: inline-block;
    width: 100%;
    padding-left: 23em;
}

#entryList > li {
    max-width: 700px;
    padding-left: 1em;
    list-style-type: none;
    margin: auto;
    margin-top: 3em;
}

#superfeedr li {
    list-style-type: none;
}

#readall {
    float: right;
    padding: 1em;
}

#feedReadall {
    float: right;
    padding: 1em;
}

.read {
    color: transparent;
    border-top: 1px solid transparent;
    stop-color: transparent;
}

.readIcon:after {
    content: " \2713";
    color: #8DCC14;
}

.mark {
    display: inline;
}

#markLink {
    color: #3B5998;
    display: block;
    margin-top: 1.4em;
    margin-bottom: 1em;
    margin-left: 1.6em;
}

#markLink.current {
    color: #8496bc;
}

#addLink {
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 1em;
    padding-bottom: 1em;
    color: #3B5998;
}

#unsubscribeForm,
#addForms  {
    padding-top: 2em;
    padding-left: 2em;
}

#addForms  {
    display: table;
    table-layout: fixed;
}

#addForms form,
#addForms hr {
    display: table-row;
}

#addForms hr {
    height: 1em;
}

#addForms label,
#addForms input,
#addForms button {
    display: table-cell;
}

#addForms label {
    padding-right: 1em;
}

#addForms button {
    margin-left: 1em;
}

#addForms input {
    width: 80%;
}

#unsubscribeList {
    margin-left: 1em;
}

#unsubscribeForm button {
    margin-bottom: 2em;
    margin-left: 1em;
}

#moreEntries {
    display: block;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0, 0.1);
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: auto;
}

#moreEntries:hover {
     background-color: rgba(100,100,100, 0.1);
}
