/* generics */

html {
    font-family: ubuntu, helvetica, arial, sans-serif;
    font-weight: 400;
    background-color: #F7F7F7;
    color: #333;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    max-width: 100%; /* prevents issues with elements in an entry that have a harccoded width above 100% of the viewport */
}

a {
    color: #3B5998;
    text-decoration: none;
}

a:visited {
    color: #8496bc;
}

input, textarea, button {
    font-family: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
}

.button {
    width: 3em;
    padding-left: 0em !important;
    padding-right: 0em !important;
}

button::-moz-focus-inner {
    border: 0;
}

textarea {
    /* textarea-borders otherwise might differ from input-boxes in chrome */
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

summary {
    cursor: pointer;
}

/* specifics */

#login, #index {
    max-width: 40em;
    margin: auto;
    padding-left: 20%;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login {
    padding-left: 0;
    
}

#logo {
    max-height: 5em;
    display: inline;
}

#login > div {
    display: inline-block;
}

#login h1, #index h1 {
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
}

#feeds {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    height: 100%;
    overflow-y: auto;
    overflow-x: visible;
    box-shadow: 3px 3px 5px 0px #996E6E;
    position: fixed;
    border-left: 1px solid #f22f49;
}

#feedList {
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.6em;
    padding-left: 0;
    
}

#mobileList {
    display: none;
}

#feedList a, #feedList summary{
    color: #333;
    outline: none;
}

#feedList a:focus, #feedList summary:focus {
    color: #f22f49 !important;
}

#feedList li {
    list-style-type: none;
    padding-left: 1.6em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #E5E5E5;
}

#feedList a, #feedList summary {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    display: inline-block;
    width: 90%;
}

#feedList .feedlink.current {
    background-color: #E5E5E5;
}

.feedcontrol {
    display: none;
    width: 10%;
    background: transparent;
    border: 0;
    outline: none;
}

.feedlink:hover .feedcontrol {
    display: inline-block;
}

.feedcontrol:focus {
    color: #f22f49 !important;
}

#entries {
    display: inline-block;
    margin: auto;
    width: 100%;
    padding-left: 20%;
}

.entry {
    max-width: 700px;
    padding-left: 1em;
    padding-right: 1em;
    margin: auto;
    margin-top: 3em;
    list-style-type: none;
}

.current.entry {
    list-style-image: url(circle.svg);
}

.current li {
    list-style-image: none;
}

.entryTitle a {
    color: #333;
    font-weight: 400;
}

.entryDate {
    font-weight: 400;
    float: right;
    margin: 0;
    font-size: 1rem;
    color: #7F7F7F;
}

.entry pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

#superfeedr li {
    list-style-type: none;
}

#readall {
    float: right;
    padding: 1em;
}

#feedReadall {
    float: right;
    padding: 1em;
}

.read {
    color: transparent;
    border: 1px solid transparent;
    stop-color: transparent;
}

.readIcon:after {
    content: " \2713";
    color: #8DCC14;
}

.mark {
    display: inline;
}

#markLink {
    color: #333;
    display: block;
    padding-top: 1.4em;
    padding-bottom: 1em;
    padding-left: 1.6em;
    border-bottom: 1px solid #E5E5E5;
}

#markLink.current {
    background-color: #E5E5E5;
}

#feeds li:hover,
#feeds a:hover,
#feeds .feedlink.current:hover {
    background-color: white;
}


#addLink {
    font-size: 1.4em;
    font-weight: bold;
    padding-left: 1em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    color: #333;
    display: block;
}

.settingsForm  {
    padding-top: 2em;
    padding-left: 2em;
}

#addForms  {
    display: table;
    table-layout: fixed;
}

#addForms form,
#addForms hr {
    display: table-row;
}

#addForms hr {
    height: 1em;
}

#addForms label,
#addForms input,
#addForms button {
    display: table-cell;
}

#addForms label {
    padding-right: 1em;
}

#addForms button {
    margin-left: 1em;
}

#addForms input {
    width: 80%;
}

#unsubscribeList {
    margin-left: 1em;
}

#unsubscribeSubmit {
    margin-bottom: 2em;
    margin-left: 1em;
}

#moreEntries {
    display: block;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0, 0.1);
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: auto;
}

#moreEntries:hover {
     background-color: rgba(100,100,100, 0.1);
}

#installer {
    margin: auto;
    max-width: 40em;
    width: 100%;
}

#installer #login {
    margin: 0;
    padding-top: 2em;
    margin-bottom: 3em;
}

#superfeedrSettings label {
    display: block;
}

#superfeedrSettings label span {
    min-width: 8em;
}

#superfeedrSettings input {
    margin-left: 2em;
}

#superfeedrSettings button {
    margin-top: 1em;
    margin-bottom: 2em;
}

@media (max-width: 800px) {
    #feeds > * {
        display: none;
    }
    #mobileList {
        display: block;
        margin: auto;
        margin-top: 0.1em;
    }
    #markLink {
        display: none !important;
    }
    #feeds {
        display: block;
        max-width: 100%;
        width: 100%;
        height: auto;
        overflow: visible;
        padding-bottom: 0.3em;
        min-width: 400px;
        background-color: white;
    }
    #entries {
        width: 100%;
        padding-left: 0.2em;
    }
    #readFeed {
        position: fixed;
        top: 0.1em;
        right: 1em;
    }
    @media (max-width: 530px) {
        #readFeed {
            display: none;
        }
        #mobileList {
            margin-left: 0.1em;
        }
    }
}

#settingsNav li {
    display: inline-block;
    width: 10em;
    border: 1px solid #f22f49;
    box-shadow: 3px 3px 5px 0px #996E6E;
    margin: 0;
    padding: 0.3em;
}

#settingsNav li.current {
    color: #717171;
    box-shadow: 2px 2px 5px 0px #996E6E;
}

#settingsNav a {
    color: #333;
}

#settingsNav a:focus {
    color: #f22f49 !important;
}

@keyframes fadein {
   0% {opacity:0;}
   100% {opacity:0.9;}
}

.message {
    opacity: 0;
    position: absolute;
    display: inline-block;
    top: 1em;
    left: 20%;
    right: 0;
    padding: 0.3em;
    max-width: 20em;
    background: #1288BF;
    border: 1px solid #1879A5;
    color: white;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

.message:target {
    animation: fadein 1s;
    opacity: 0.9;
}

/*! @license
* Copyright 2012-2014 Alex Wolfe and Rob Levin
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*        http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/
/*! @license
* Copyright 2012-2014 Alex Wolfe and Rob Levin
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*        http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/.button,.button.active,.button.is-active,.button:active,.button:focus,.button:hover{text-decoration:none}.button{-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.5),0 1px 2px rgba(0,0,0,.15);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.5),0 1px 2px rgba(0,0,0,.15);box-shadow:inset 0 1px 0 rgba(255,255,255,.5),0 1px 2px rgba(0,0,0,.15);background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#fbfbfb),color-stop(100%,#e1e1e1));background:-moz-linear-gradient(top,#fbfbfb,#e1e1e1);background:-webkit-linear-gradient(top,#fbfbfb,#e1e1e1);background:linear-gradient(to bottom,#fbfbfb,#e1e1e1);display:inline-block;vertical-align:middle;border:1px solid #d4d4d4;height:32px;line-height:30px;padding:0 25.6px;font-weight:300;font-size:14px;font-family:"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;color:#666;text-shadow:0 1px 1px #fff;margin:0;text-align:center}.button:focus,.button:hover{color:#666;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RjZGNkYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#fff),color-stop(100%,#dcdcdc));background:-moz-linear-gradient(top,#fff,#dcdcdc);background:-webkit-linear-gradient(top,#fff,#dcdcdc);background:linear-gradient(to bottom,#fff,#dcdcdc)}.button.active,.button.is-active,.button:active{-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,.3),0 1px 0 #fff;-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.3),0 1px 0 #fff;box-shadow:inset 0 1px 3px rgba(0,0,0,.3),0 1px 0 #fff;text-shadow:0 1px 0 rgba(255,255,255,.4);background:#eee;color:#bbb}.button:focus{outline:0}button.button,input.button{height:34px;cursor:pointer;-webkit-appearance:none}.button-block{display:block}.button.disabled,.button.disabled:active,.button.disabled:focus,.button.disabled:hover,button.button:disabled,input.button:disabled{-moz-box-shadow:0 1px 2px rgba(0,0,0,.1);-webkit-box-shadow:0 1px 2px rgba(0,0,0,.1);box-shadow:0 1px 2px rgba(0,0,0,.1);filter:alpha(Opacity=80);opacity:.8;background:#EEE;border:1px solid #DDD;text-shadow:0 1px 1px #fff;color:#CCC;cursor:default;-webkit-appearance:none}.button-wrap{background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzZTNlMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#e3e3e3),color-stop(100%,#f2f2f2));background:-moz-linear-gradient(top,#e3e3e3,#f2f2f2);background:-webkit-linear-gradient(top,#e3e3e3,#f2f2f2);background:linear-gradient(to bottom,#e3e3e3,#f2f2f2);-moz-border-radius:200px;-webkit-border-radius:200px;border-radius:200px;-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,.04);-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.04);box-shadow:inset 0 1px 3px rgba(0,0,0,.04);padding:10px;display:inline-block}.button-rounded{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}.button-primary{background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYjVlNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOGRiMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#00b5e5),color-stop(100%,#008db2));background:-moz-linear-gradient(top,#00b5e5,#008db2);background:-webkit-linear-gradient(top,#00b5e5,#008db2);background:linear-gradient(to bottom,#00b5e5,#008db2);background-color:#00A1CB;border-color:#007998;color:#FFF;text-shadow:0 -1px 1px rgba(0,40,50,.35)}.button-primary:focus,.button-primary:hover{color:#FFF;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYzlmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOGRiMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#00c9fe),color-stop(100%,#008db2));background:-moz-linear-gradient(top,#00c9fe,#008db2);background:-webkit-linear-gradient(top,#00c9fe,#008db2);background:linear-gradient(to bottom,#00c9fe,#008db2)}.button-primary.active,.button-primary.is-active,.button-primary:active{background:#1495b7;color:#005065}.button-action{background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhmY2YwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzZiOWMwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#8fcf00),color-stop(100%,#6b9c00));background:-moz-linear-gradient(top,#8fcf00,#6b9c00);background:-webkit-linear-gradient(top,#8fcf00,#6b9c00);background:linear-gradient(to bottom,#8fcf00,#6b9c00);background-color:#7db500;border-color:#5a8200;color:#FFF;text-shadow:0 -1px 1px rgba(19,28,0,.35)}.button-action:focus,.button-action:hover{color:#FFF;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EwZTgwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzZiOWMwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#a0e800),color-stop(100%,#6b9c00));background:-moz-linear-gradient(top,#a0e800,#6b9c00);background:-webkit-linear-gradient(top,#a0e800,#6b9c00);background:linear-gradient(to bottom,#a0e800,#6b9c00)}.button-action.active,.button-action.is-active,.button-action:active{background:#76a312;color:#374f00}.button-highlight{background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhOTkxNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q4N2UwNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#fa9915),color-stop(100%,#d87e04));background:-moz-linear-gradient(top,#fa9915,#d87e04);background:-webkit-linear-gradient(top,#fa9915,#d87e04);background:linear-gradient(to bottom,#fa9915,#d87e04);background-color:#F18D05;border-color:#bf7004;color:#FFF;text-shadow:0 -1px 1px rgba(91,53,2,.35)}.button-highlight:focus,.button-highlight:hover{color:#FFF;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiYTQyZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q4N2UwNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#fba42e),color-stop(100%,#d87e04));background:-moz-linear-gradient(top,#fba42e,#d87e04);background:-webkit-linear-gradient(top,#fba42e,#d87e04);background:linear-gradient(to bottom,#fba42e,#d87e04)}.button-highlight.active,.button-highlight.is-active,.button-highlight:active{background:#d8891e;color:#8d5303}.button-caution{background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4NTQzZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q5MzMxYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#e8543f),color-stop(100%,#d9331a));background:-moz-linear-gradient(top,#e8543f,#d9331a);background:-webkit-linear-gradient(top,#e8543f,#d9331a);background:linear-gradient(to bottom,#e8543f,#d9331a);background-color:#E54028;border-color:#c22d18;color:#FFF;text-shadow:0 -1px 1px rgba(103,24,13,.35)}.button-caution:focus,.button-caution:hover{color:#FFF;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViNjg1NSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q5MzMxYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#eb6855),color-stop(100%,#d9331a));background:-moz-linear-gradient(top,#eb6855,#d9331a);background:-webkit-linear-gradient(top,#eb6855,#d9331a);background:linear-gradient(to bottom,#eb6855,#d9331a)}.button-caution.active,.button-caution.is-active,.button-caution:active{background:#cd5240;color:#952312}.button-royal{background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5Mzg5ZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc1MmE3OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#99389f),color-stop(100%,#752a79));background:-moz-linear-gradient(top,#99389f,#752a79);background:-webkit-linear-gradient(top,#99389f,#752a79);background:linear-gradient(to bottom,#99389f,#752a79);background-color:#87318C;border-color:#632466;color:#FFF;text-shadow:0 -1px 1px rgba(26,9,27,.35)}.button-royal:focus,.button-royal:hover{color:#FFF;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FiM2ViMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc1MmE3OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#ab3eb2),color-stop(100%,#752a79));background:-moz-linear-gradient(top,#ab3eb2,#752a79);background:-webkit-linear-gradient(top,#ab3eb2,#752a79);background:linear-gradient(to bottom,#ab3eb2,#752a79)}.button-royal.active,.button-royal.is-active,.button-royal:active{background:#764479;color:#3e1740}.button-group{position:relative;display:inline-block}.button-group .button{float:left}.button-group .button.active,.button-group .button:focus,.button-group .button:hover{z-index:5}.button-group .button.active,.button-group .button:active{background:#dcdcdc}.button-group .button:not(:first-child):not(:last-child){border-radius:0}.button-group .button:first-child{border-top-right-radius:0;border-bottom-right-radius:0}.button-group .button:last-child{border-top-left-radius:0;border-bottom-left-radius:0}.button-group .button+.button{margin-left:-1px}.button-jumbo{font-size:22px;height:51.2px;line-height:51.2px;padding:0 40.96px}.button-large{font-size:16px;height:38.4px;line-height:38.4px;padding:0 30.72px}button.button-large,input.button-large{height:40.4px}.button-small{font-size:12px;height:25.6px;line-height:24px;padding:0 20.48px}button.button-small,input.button-small{height:27.6px}.button-tiny{font-size:10px;height:22.4px;line-height:22.4px;padding:0 19.2px}button.button-tiny,input.button-tiny{height:24.4px}
